{% extends "base.html" %}
{% load static %}

{% block page_head %}
<link rel="stylesheet" type="text/css" href="{% static 'cs_attrition_viz/css/population.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'cs_attrition_viz/css/sliders.css' %}">
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{% static 'cs_attrition_viz/js/slider.js' %}"></script>
{% endblock %}

{% block page_content %}
<span class="two-col-header-container">
	<a class="btn btn-home" href="{% url 'home' %}">Home</a><h1>Reformatting the Workforce</h1><a class="btn btn-viz" href="{% url 'salary' %}">Attrition</a>
</span>

<div class="two-col-main-container">
	<div class="detail-container">
		<p class="population-intro detail-text"><b class="women-text">Women-identified</b> people comprised only</p>
		<h2 id="women-percent" class="women-text"></h2>
		<p class="population-intro detail-text">
			of computer and information scientists in <span id="year" class="population-intro detail-text"></span>.
		</p>
		<br>
		<br>
		<br>
		<p class="population-detail detail-text">
			<b class="men-text">Male-identified</b> <span id="men-context">people comprised only more and more of the computer space in the first decade of this century.</span>
		</p>
	</div>
	<div class="viz-container">
		<div id="hard-drive-id"></div>
		<div id="year-slider-id"></div>
	</div>
</div>

<script>
	const hardDriveWidth = 350;
	const hardDriveHeight = 200;
	const hardDriveBorderRadius = hardDriveWidth / 50;
	const hardDriveDiskVerticalMargin = 10;
	const hardDriveNeedleOffset = 15;
	const hardDriveRivetRadius = 6;
	const yearSliderHeight = 60;

	/* Colors borrowed from https://www.telegraph.co.uk/women/business/women-mean-business-interactive/ */
	const colorWomen = "#8700F9";
	const colorMen = "#00C4AA";

	const transitionDuration = 200;

	var hardDriveContainer = d3.select("#hard-drive-id")
		.append("svg")
		.attr("viewBox", "0 0 " + hardDriveWidth + " " + hardDriveHeight)
		.attr("preserveAspectRatio", "xMinYMin meet")
		.classed("sub-viz-container", true);

	var hardDriveBox = hardDriveContainer.append("rect")
		.classed("hard-drive-box", true)
		.attr("width", hardDriveWidth)
		.attr("height", hardDriveHeight)
		.attr("rx", hardDriveBorderRadius)
		.attr("ry", hardDriveBorderRadius);

	var anchorPath = d3.path();
	anchorPath.moveTo(hardDriveWidth / 12, hardDriveHeight / 18);
	anchorPath.lineTo(hardDriveWidth / 3, hardDriveHeight / 18);
	anchorPath.arc(hardDriveWidth / 2, hardDriveHeight / 2, hardDriveHeight / 2 - hardDriveDiskVerticalMargin, (3 * Math.PI / 2), Math.PI, true);
	anchorPath.lineTo(hardDriveWidth / 12, hardDriveHeight / 2);
	anchorPath.closePath();

	hardDriveContainer.append("path")
		.attr("d", anchorPath)
		.attr("stroke", "black")
		.attr("fill", "#607080");

	hardDriveContainer.append("rect")
		.attr("x", hardDriveWidth / 12)
		.attr("y", hardDriveHeight / 2 + hardDriveDiskVerticalMargin)
		.attr("width", hardDriveWidth / 6)
		.attr("height", hardDriveHeight / 3 + hardDriveDiskVerticalMargin)
		.attr("stroke", "black")
		.attr("fill", "#607080");

	// Hard Drive Rivets
	hardDriveContainer.append("circle")
		.classed("hard-drive-rivet", true)
		.attr("r", hardDriveRivetRadius)
		.attr("cx", hardDriveWidth / 30)
		.attr("cy", hardDriveHeight / 20);

	hardDriveContainer.append("circle")
		.classed("hard-drive-rivet", true)
		.attr("r", hardDriveRivetRadius)
		.attr("cx", hardDriveWidth - hardDriveWidth / 30)
		.attr("cy", hardDriveHeight / 20);

	hardDriveContainer.append("circle")
		.classed("hard-drive-rivet", true)
		.attr("r", hardDriveRivetRadius)
		.attr("cx", hardDriveWidth / 30)
		.attr("cy", hardDriveHeight - hardDriveHeight / 20);

	hardDriveContainer.append("circle")
		.classed("hard-drive-rivet", true)
		.attr("r", hardDriveRivetRadius)
		.attr("cx", hardDriveWidth - hardDriveWidth / 30)
		.attr("cy", hardDriveHeight - hardDriveHeight / 20);

	var donutChartContainer = hardDriveContainer.append("g")
		.attr("transform", "translate(" + ( 2 * hardDriveWidth / 3 ) + "," + hardDriveHeight / 2 + ")");

	var donutChart = d3.pie()
		.sort(null)
		.value(function(d) { return d.population; } )
		.startAngle((3 * Math.PI) / 2)
		.endAngle((7 * Math.PI) / 2);

	var arc = d3.arc()
		.innerRadius(hardDriveHeight / 4 - hardDriveDiskVerticalMargin)
		.outerRadius(hardDriveHeight / 2 - hardDriveDiskVerticalMargin);

	var needlePath = d3.path();
	needlePath.moveTo(hardDriveWidth / 6 + hardDriveNeedleOffset, hardDriveHeight / 5);
	needlePath.lineTo(hardDriveWidth / 2, hardDriveHeight / 2);
	needlePath.lineTo(hardDriveWidth / 6 - hardDriveNeedleOffset, hardDriveHeight / 5 + hardDriveNeedleOffset);
	needlePath.arcTo(hardDriveWidth / 6 - hardDriveNeedleOffset, hardDriveHeight / 5 - hardDriveNeedleOffset, hardDriveWidth / 6 + hardDriveNeedleOffset, hardDriveHeight / 5, hardDriveNeedleOffset);
	needlePath.closePath();

	hardDriveContainer.append("g")
		.attr("id", "needle")
		.append("path")
		.attr("d", needlePath)
		.attr("stroke", "black")
		.attr("fill", "lightgray");

	d3.queue()
		.defer(d3.json, "{% url 'womens_data' %}")
		.defer(d3.json, "{% url 'mens_data' %}")
		.await(createPieChart);

	function createPieChart(error, csWomen, csMen) {
		if (error) throw error;

		const yearsToGenderPops = getAllYearsPopulations(csWomen, csMen);

		const years = Object.keys(yearsToGenderPops);
		const startYear = years[0];
		const endYear = years[years.length - 1];
		const yearSlider = sliderFactory()
			.width(hardDriveWidth)
			.height(yearSliderHeight)
			.value(parseInt(startYear))
			.ticks(100)
			.scale(true)
			.customTicks(years)
			.range([startYear, endYear])
			.step(1)
			.dragHandler(function(d) { updateYearData(d.value()); });
		let yearSliderContainer = d3.select("#year-slider-id")
			.call(yearSlider)
			.classed("sub-viz-container", true);
		yearSliderContainer.append("div").classed("slider-label", true).text("Year");

		var mostRecentlySelectedYear;
		updateYearData(startYear);

		function updateYearData(year) {
			if (!mostRecentlySelectedYear || mostRecentlySelectedYear != year) {
				mostRecentlySelectedYear = year;

				// Text
				d3.select("#women-percent").text(getPercentWomenPopulation(yearsToGenderPops)[year]);

				d3.select("#year").text(year);

				var menContext = d3.select("#men-context");
				if (parseInt(year) > 2010) {
					menContext.text(" people largely held their share of space in the industry in the second decade of this century.")
				}
				else {
					menContext.text(" people comprised only more and more of the computer space in the first decade of this century.")
				}

				// Chart
				var donutChartPath = donutChartContainer.selectAll("path")
					.classed("hard-drive-disk", true);
				var oldPath = donutChartPath.data();
				var newPath = donutChart(yearsToGenderPops[year]);

				donutChartPath = donutChartPath.data(newPath, function(d) { 
						return d.data.year; 
					});

				donutChartPath.exit().remove();

				// donutChartPath.transition()
				// 	.duration(transitionDuration)
				// 	.attrTween("d", arcTween)

				donutChartPath.enter()
					.append("path")
					.classed("hard-drive-disk", true)
					// .each(function(d, i) {
					// 	if (i == 1) {
					// 		this._current = oldPath[1];
					// 		this._previous = oldPath[1];
					// 	}
					// 	else {
					// 		this._current = d;
					// 	}
					// })
					.attr("fill", function(d, i) {
						if (d.data.gender == "women") {
							return colorWomen;
						}
						return colorMen;
					})
					// .transition()
					// .duration(transitionDuration)
					// .attrTween("d", arcTween);
					.attr("d", arc);

				donutChartPath.exit()
					// .transition()
					// .duration(transitionDuration)
					// .attrTween("d", function(d, i) {
					// 	var interpolator = d3.interpolateObject(d, this._previous);
					// 	return function(t) {
					// 		return arc(interpolator(t));
					// 	}
					// })
				.remove();

				console.log(donutChartPath.data(), donutChartPath.size(),donutChartPath.exit().data());
			}

		}

		function arcTween(d) {
			var interpolator = d3.interpolate(this._current, d);
			this._current = interpolator(0);
			return function(t) {
				return arc(interpolator(t));
			}
		}

	}

	function getAllYearsPopulations(csWomen, csMen) {
		const years = [];
		const womanPops = [];
		const manPops = [];
		const yearsToGenderPops = {};

		csWomen.forEach(function(d, i) {
			if (d.num_employees_nsf) {
				years.push(d.year);
				womanPops.push(d.num_employees_nsf);
			}
		});

		csMen.forEach(function(d, i) {
			if (years.includes(d.year_id)) {
				manPops.push(d.num_employees_nsf);
			}
		});

		for (let i = 0; i < years.length; i++) {
			const womenToPops = {"gender": "women", "year": years[i]};
			const menToPops = {"gender": "men", "year": years[i]};
			womenToPops.population = womanPops[i];
			menToPops.population = manPops[i];
			yearsToGenderPops[years[i]] = [womenToPops, menToPops];
		}

		return yearsToGenderPops;
	}

	function getPercentWomenPopulation(yearsToGenderPops) {
		const percentPerYear = {};

		for (const year in yearsToGenderPops) {
			const womenPop = yearsToGenderPops[year][0].population;
			const menPop = yearsToGenderPops[year][1].population;
			const percent = (womenPop / (womenPop + menPop)) * 100;
			const percentFormatter = d3.format(".2f");
			percentPerYear[year] = percentFormatter(percent) + "%";
		}

		return percentPerYear;
	}

</script>
{% endblock %}
