{% extends "base.html" %}
{% load static %}

{% block page_head %}
<link rel="stylesheet" type="text/css" href="{% static 'cs_attrition_viz/css/population.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'cs_attrition_viz/css/sliders.css' %}">
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{% static 'cs_attrition_viz/js/slider.js' %}"></script>
{% endblock %}

{% block page_content %}
<h1>Poorly Reformatting the Workforce</h1>

<div class="two-col-container">
	<div class="detail">
		<p id="population-detail" class="detail-text">Explanation</p>
	</div>
	<div class="viz-container">
		<div id="hard-drive-id"></div>
		<div id="year-slider-id"></div>
	</div>
</div>

<script>
	const hardDriveWidth = 350;
	const hardDriveHeight = 200;
	const hardDriveBorderRadius = hardDriveWidth / 50;
	const hardDriveDiskVerticalMargin = 10;
	const hardDriveNeedleOffset = 5;
	const hardDriveRivetRadius = 6;
	const yearSliderHeight = 60;

	/* Colors borrowed from https://www.telegraph.co.uk/women/business/women-mean-business-interactive/ */
	const colorWomen = "#8700F9";
	const colorMen = "#00C4AA";

	const transitionDuration = 200;

	var hardDriveContainer = d3.select("#hard-drive-id")
		.append("svg")
		.attr("viewBox", "0 0 " + hardDriveWidth + " " + hardDriveHeight)
		.attr("preserveAspectRatio", "xMinYMin meet")
		.classed("sub-viz-container", true);

	var hardDriveBox = hardDriveContainer.append("rect")
		.classed("hard-drive-box", true)
		.attr("width", hardDriveWidth)
		.attr("height", hardDriveHeight)
		.attr("rx", hardDriveBorderRadius)
		.attr("ry", hardDriveBorderRadius);

	var anchorPath = d3.path();
	anchorPath.moveTo(hardDriveWidth / 12, hardDriveHeight / 18);
	anchorPath.lineTo(hardDriveWidth / 3, hardDriveHeight / 18);
	anchorPath.arc(hardDriveWidth / 2, hardDriveHeight / 2, hardDriveHeight / 2 - hardDriveDiskVerticalMargin, (3 * Math.PI / 2), Math.PI, true);
	anchorPath.lineTo(hardDriveWidth / 12, hardDriveHeight / 2);
	anchorPath.closePath();

	hardDriveContainer.append("path")
		.attr("d", anchorPath)
		.attr("stroke", "black")
		.attr("fill", "#607080");

	// Hard Drive Rivets
	hardDriveContainer.append("circle")
		.attr("r", hardDriveRivetRadius)
		.attr("cx", hardDriveWidth / 30)
		.attr("cy", hardDriveHeight / 20)
		.attr("stroke", "black")
		.attr("fill", "#607080");

	hardDriveContainer.append("circle")
		.attr("r", hardDriveRivetRadius)
		.attr("cx", hardDriveWidth - hardDriveWidth / 30)
		.attr("cy", hardDriveHeight / 20)
		.attr("stroke", "black")
		.attr("fill", "#607080");

	hardDriveContainer.append("circle")
		.attr("r", hardDriveRivetRadius)
		.attr("cx", hardDriveWidth / 30)
		.attr("cy", hardDriveHeight - hardDriveHeight / 20)
		.attr("stroke", "black")
		.attr("fill", "#607080");

	hardDriveContainer.append("circle")
		.attr("r", hardDriveRivetRadius)
		.attr("cx", hardDriveWidth - hardDriveWidth / 30)
		.attr("cy", hardDriveHeight - hardDriveHeight / 20)
		.attr("stroke", "black")
		.attr("fill", "#607080");

	var donutChartContainer = hardDriveContainer.append("g")
		.attr("transform", "translate(" + ( 2 * hardDriveWidth / 3 ) + "," + hardDriveHeight / 2 + ")");

	var donutChart = d3.pie()
		.sort(null)
		.value(function(d) { return d.population; } )
		.startAngle((3 * Math.PI) / 2)
		.endAngle((7 * Math.PI) / 2);

	var arc = d3.arc()
		.innerRadius(hardDriveHeight / 4 - hardDriveDiskVerticalMargin)
		.outerRadius(hardDriveHeight / 2 - hardDriveDiskVerticalMargin);

	d3.queue()
		.defer(d3.json, "{% url 'womens_data' %}")
		.defer(d3.json, "{% url 'mens_data' %}")
		.await(createPieChart);

	function createPieChart(error, csWomen, csMen) {
		if (error) throw error;

		const yearsToGenderPops = getAllYearsPopulations(csWomen, csMen);

		const years = Object.keys(yearsToGenderPops);
		const startYear = years[0];
		const endYear = years[years.length - 1];
		const yearSlider = sliderFactory()
			.width(hardDriveWidth)
			.height(yearSliderHeight)
			.value(parseInt(startYear))
			.ticks(100)
			.scale(true)
			.customTicks(years)
			.range([startYear, endYear])
			.step(1)
			.dragHandler(function(d) { updatePieChart(d.value()); });
		let yearSliderContainer = d3.select("#year-slider-id")
			.call(yearSlider)
			.classed("sub-viz-container", true);
		yearSliderContainer.append("div").classed("slider-label", true).text("Year");

		updatePieChart(startYear);

		function updatePieChart(year) {
			var donutChartPath = donutChartContainer.append("g")
				.classed("hard-drive-disk", true)
				.selectAll("path");

			// var originalData = donutChartPath.data();
			var newData = donutChart(yearsToGenderPops[year]);

			donutChartPath = donutChartPath.data(newData);

			// donutChartPath.transition()
			// 	.duration(transitionDuration)
			// 	.attrTween("d", arcTween)

			donutChartPath.enter()
				.append("path")
				// .each(function(d, i) {
				// 	if (i == 1) {
				// 		this._current = newData[0];
				// 		this._previous = newData[0];
				// 	}
				// 	else {
				// 		this._current = d;
				// 	}
				// })
				.attr("fill", function(d, i) {
					if (d.data.gender == "women") {
						return colorWomen;
					}
					return colorMen;
				})
				.attr("d", arc);
				// .transition()
				// .duration(transitionDuration)
				// .attrTween("d", arcTween);

			donutChartPath.exit()
				// .transition()
				// .duration(transitionDuration)
				// .attrTween("d", function(d, i) {
				// 	var currentIndex = this._previous.data.year;
				// 	var interpolator = d3.interpolateObject(d, this._previous);
				// 	return function(t) {
				// 		return arc(interpolator(t));
				// 	}
				// })
				.remove();

		var needlePath = d3.path();
			needlePath.moveTo(hardDriveWidth / 6 + hardDriveNeedleOffset, hardDriveHeight / 5);
			needlePath.lineTo(hardDriveWidth / 2, hardDriveHeight / 2);
			needlePath.lineTo(hardDriveWidth / 6 - hardDriveNeedleOffset, hardDriveHeight / 5 + hardDriveNeedleOffset);
			needlePath.arcTo(hardDriveWidth / 6 - hardDriveNeedleOffset, hardDriveHeight / 5 - hardDriveNeedleOffset, hardDriveWidth / 6 + hardDriveNeedleOffset, hardDriveHeight / 5, hardDriveNeedleOffset);
			needlePath.closePath();

			hardDriveContainer.append("path")
				.attr("d", needlePath)
				.attr("stroke", "black")
				.attr("fill", "lightgray");
		}

		function arcTween(d) {
			var interpolator = d3.interpolate(this._current, d);
			this._current = interpolator(0);
			return function(t) {
				return arc(interpolator(t));
			}
		}

	}

	function getAllYearsPopulations(csWomen, csMen) {
		const years = [];
		const womanPops = [];
		const manPops = [];
		const yearsToGenderPops = {};

		csWomen.forEach(function(d, i) {
			if (d.num_employees_nsf) {
				years.push(d.year);
				womanPops.push(d.num_employees_nsf);
			}
		});

		csMen.forEach(function(d, i) {
			if (years.includes(d.year_id)) {
				manPops.push(d.num_employees_nsf);
			}
		});

		for (let i = 0; i < years.length; i++) {
			const womenToPops = {"gender": "women"};
			const menToPops = {"gender": "men"};
			womenToPops.population = womanPops[i];
			menToPops.population = manPops[i];
			yearsToGenderPops[years[i]] = [womenToPops, menToPops];
		}

		return yearsToGenderPops;
	}
</script>
{% endblock %}

{% comment %}
TODO: may remove this if I don't do it...

Pie chart adopted from: https://bl.ocks.org/tezzutezzu/c2653d42ffb4ecc01ffe2d6c97b2ee5e
{% endcomment %}