body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

h1 {
	width: 100%;
	margin: 20px auto 30px auto;
	text-align: center;
	font-weight: bold;
	font-family: "Courier";
}

h2 {
	width: 100%;
	margin: 10px auto;
	text-align: center;
	font-weight: bold;
	font-size: 50px;
}

.back-btn {
	display: relative;
	float: left;
	margin-left: 10px;
	padding: 6px 12px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: bolder;
	border: 1px solid transparent;
	border-radius: 5px;
	color: white;
	background-color: #506070;
	text-decoration: none;
}

/*.two-col-header-container {
	display: grid;
	grid-template-columns: ;
}*/

.two-col-main-container {
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-gap: 2%;
	padding: 3% 3% 0 3%;
}

.detail-container {
	position: relative;
	margin-top: 5%;
	margin-left: 10%;
}

.detail-text {
	font-family: Helvetica, Arial, sans-serif;
}