body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

text {
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	width: 100%;
	margin: 4% auto;
	text-align: center;
}

.detail {
	display: inline-block;
	position: relative;
	width: 50%;
	margin-top: 0;
	margin-left: 5%;
}

.detail-text {
	font-family: Helvetica, Arial, sans-serif;
}