.viz-container {
	position: relative;
	margin-top: 0;
	margin-right: 5%;
}

.sub-viz-container {
	display: block;
	position: relative;
	margin: 0 auto;
}

.hard-drive-box {
	fill: slategray;
}

.hard-drive-disk {
	position: relative;
	stroke: black; /* TODO: replace? */
}

.slider-label {
	position: relative;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	color: #506070;
	font-size: 20px;
	font-family: "Courier";
	font-weight: bolder;
}

.hard-drive-rivet {
	stroke: black;
	fill: #607080;
}

.population-intro {
	text-align: center;
	font-size: 22px;
	color: #506070;
}

.population-detail {
	text-align: center;
	font-size: 20px;
	color: #506070;
}

.women-text {
	color: #8700F9;
}

.men-text {
	color: #00C4AA;
}