.hard-drive-container {
	display: block;
	position: relative;
	width: 50%;
	margin: 0 auto;
}

svg .hard-drive-box {
	fill: slategrey;
}

svg .hard-drive-disk {
	position: relative;
	stroke: black; /* TODO: replace */
}
