.hard-drive-container {
	display: block;
	position: relative;
	width: 50%;
	margin: 0 auto;
}

svg .hard-drive-box {
	fill: antiquewhite;
}

svg .hard-drive-disk {
	stroke: black; /* TODO: replace */
}

